@import './norm.css';
@import './base.css';

#app {
  max-width: 1280px;
  min-width: 440px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


header {
	padding: 1rem;
	background-color: #f0f8ff;
}

.title {
	font-size: 2rem;
	font-weight: 900;
	color: #36727A;
}

@media (max-width: 555px) {
    section {
        margin: 1rem !important;
    }

    .title {
        font-size: 1.5rem;
    }
}
